.new-project-fields,
.fields
{
   
    width: 348px;
    height: 25.21px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: 0px;
    margin:12px;
    margin-top: 25px;
    color: rgba($color: #F1F1F1, $alpha: 0.3);
    background: #111111;
    
    border-bottom: 1px solid #F1F1F1;
}


.form-container
{
    margin: auto;
    width: 744px;
    height: 270px;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
}

.form-container div
{
    display: flex;
    flex-direction: column;
}

.form-wrapper
{
    justify-content: center;
}


.buttons
{
    
    width: 135px;
    height: 32px;
    background: #343434;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 0px;
    margin:12px;
    margin-top: 25px;
    color: #F1F1F1;
    opacity: 0.5;

}

.submitButton
{
    
    width: 178px;
    height: 44px;
  
    background: #2F74B9;
    border-radius: 1px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    border: 0px;
    margin: 30px 327px;

}






