.qns {
  color: white;
  font-family: "Gilroy";
  font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 16px 16px;
}

.wrapper {
  border: solid 1px white;
  max-width: 584px;
  width: 100%;
}

.wrap {
  display: flex;
  border-bottom: solid 1px white;
}

.qns {
  margin: 13px 30px 13px 0px;
}

.m_t_ans {
  display: none;
}

@media(max-width:900px) {
  .m_t_ans {
    display: block;
  }
}