.qns {
  color: white;
}
.icon {
  width: 16px;
  height: 16px;
  margin: 16px 16px;
}

.wrapper {
  border: solid 1px white;
  max-width: 584px;
  width: 100%;
}

.wrap {
  display: flex;
}

.qns {
  margin: 13px 30px 13px 0px;
}
