.container {
    display: none;
}

@media (max-width:1024px) {

    .container {
        width: 100%;
        text-align: center;
        display: block;
    }

    .logo {
        width: 120px;
        margin: 0 auto 20px;
    }

    .text {
        color: white;
        width: 50%;
        margin: 0 auto 50px;
        font-family: "Gilroy";
    }
}

@media (max-width:700px) {
    .container {
        width: 100%;
    }

    .text {
        width: 70%;
    }
}