.cardItemContainer {
  width: 30%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .imageContainer {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgba(54, 115, 186, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 76px;
      height: 76px;
    }
  }

  p {
    width: 100%;
    text-align: center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 900px) {
  .cardItemContainer {
    width: 100%;
    margin-bottom: 8vw;
    max-width: 450px;
  }
}
