.view-resources-text
{
    width: 698px;
    height: 157px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-top: 45px;
    margin: auto;
    text-align: center;

    color: #F1F1F1;
}

#view-resources-submit-button
{
    margin-top:70px;
}

@media (max-width: 480px)
{
    .view-resources-text
    {
        width: 100%;
        height: auto;
        font-size: 18px;
        padding: 0px 10px;
    }
}

