.btnContainer {
  background-color: #2f74b9;
  border: none;
  outline: none;
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}