.container {
  display: grid;
  grid-template-areas: "home about resources contact";
  color: white;
  width: 100%;

  .infoWrapper:nth-child(1) {
    grid-area: home;
  }

  .infoWrapper:nth-child(2) {
    grid-area: about;
  }

  .infoWrapper:nth-child(3) {
    grid-area: resources;
  }

  .infoWrapper:nth-child(4) {
    grid-area: contact;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;

    .mainLink {
      margin: 0px 0 10px 0;
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
    }
    .subLink {
      margin: 0px 0 8px 0;
      text-decoration: none;
      color: #f1f1f1;
      font-size: 16px;
    }

    .mainLink,
    .subLink {
      font-family: Gilroy;
      &:hover {
        color: #eeb91f;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-areas:
      "home about"
      "resources contact";
    gap: 4vw 4vw;
  }
}

@media (max-width: 700px) {
  .container {
    width: fit-content;
  }
}
