.header
{
    width: 450px;    
    height: 54.78px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}

.period
{
    color: #eeb91f;
    font-size: 62px;
}

.overview-intro
{
    width: 642px;
    height: 95.87px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
   
    color: #FFFFFF;

    opacity: 0.8;
}


.overview-image
{
    width: 518px;
    height: 344px;
    background: url("../../../assets/images/photo-1516905041604-7935af78f572.jpeg");
    background-size: cover;

}

.overview
{
    width: 1456px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}