.header-text
{
    padding-left: 20px;
}

.header-heading
{
    width: 674px;    
    height: 54.78px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}

.header
{
    height: 456px;
    background: #010001;
    position: relative;
}

.period
{
    color: #eeb91f;
    font-size: 62px;
}

.header-intro
{
    width: 642px;
    height: 95.87px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
   
    color: #FFFFFF;

    opacity: 0.8;
}



.image
{
    width: 100%;
    height: 100%;
}

#header-image-program-overview
{
    width: 518px;
    height: 344px;
    margin-top: 15px;
}

#header-image-resources
{
    margin-left: 40px;
    width: 315px;
    height: 268px;
}

#header-image-contact
{
    width: 518px;
    height: 290px;
}



.header-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 835px)
{
    .header-text
    {
        z-index: 10;
        position: absolute;
        left: 51px;
        top:10px;
    }

    .header
    {
        height: 384px;   
    }

    .header-container
    {
        width: 835px;
    } 

    .header-heading
    {
        width: 381px;
        height: 46.13px;
        font-size: 28px;
    }

    .header-intro
    {
        width: 357px;
        height: 120px;
        font-size: 14px;;
    }

    #header-image-program-overview
    {
        width: 320px;
        height: 238px;
        position: absolute;
        left: 427px;
        top: 15px;
    }

    #header-image-contact
    {
        width: 400px;
        height: 280px;
        position: absolute;
        left: 310px;
        top: 15px;
    }

    #header-image-resources
    {
        position: absolute;
        width: 263px;
        height: 240px;
        left: 501px;
        top: 15px;
        margin-left: 0px;
    }

    .period
    {
        font-size: 50px;
    }
}

@media (max-width: 375px)
{
    .header-container
    {
        width: 375px;
       
    } 

    .header-text
    {
        z-index: 10;
        position: absolute;
        left: 10px;
        top:85px;
        display: flex;
        flex-direction: column;
    }

    .header
    {
        height: 384px;   
        overflow: hidden;
    }

    .header-heading
    {
        width: 273px;
        font-size: 28px;
        line-height: 35px;
        margin-bottom:0px ;
        height: auto;
    }

    .header-intro
    {
        width: 332px;
        height: 150px;
        font-size: 17px;
        line-height: 20px;

    }

  

    #header-image-program-overview
    {
        width: 427px;
        height: 238px;
        position: absolute;
        left: 35px;
        top: -70px;
    }

    #header-image-contact
    {
        width: 360px;
        height: 238px;
        position: absolute;
        left: 15px;
        top: -40px;
    }

    #header-image-resources
    {
        position: absolute;
        width: 169px;
        height: 154px;
        left: 205px;
        top: -10px;
        margin-left: 0px;
    }

    #header-text-contact .header-intro
    {
        font-size: 20px;
    }
}