.header-heading
{
    width: 750px;    
    height: 54.78px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}

.header
{
    height: 456px;
    background: #010001;
}

.period
{
    color: #eeb91f;
    font-size: 62px;
}

.header-intro
{
    width: 642px;
    height: 95.87px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
   
    color: #FFFFFF;

    opacity: 0.8;
}



.image
{
    width: 100%;
    height: 100%;
}

#header-image-program-overview
{
    width: 518px;
    height: 344px;
}

#header-image-resources
{
    width: 315px;
    height: 268px;
}

#header-image-contact
{
    width: 518px;
    height: 290px;
}



.header-container
{
    width: 1256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}