.container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;

  .infoWrapper {
    display: flex;
    align-items: center;
  }
  p {
    font-family: "Gilroy";
  }
}

.icon {
  width: 18px;
  height: 18px;
  color: white;
  margin-right: 15px;
}

@media (max-width: 700px) {
  .container {
    width: fit-content;
  }
}
