.container {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1 1 30%;
  .infoWrapper {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  p {
    font-family: "Gilroy";
  }
}

.icon {
  width: 18px;
  height: 18px;
  color: white;
  margin-right: 15px;
}
