.ans {
  color: white;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.logo {
  width: 194px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  max-width: 584px;
}

.ansCard {
  text-align: center;
  padding: 0 38px;
}

@media (max-width:1024px) {
  .container {
    display: none;
  }
}