@media(max-width:900px) {
    .ans {
        color: white;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding: 10px 20px;
    }

    .logo {
        width: 194px;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        max-width: 584px;
    }

}