.social-links-container
{
    width: 376px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.social-links
{
    width: 60px;
    height: 60px;
}