.application-form-container
{ 
    width: 834px;
    height: 548px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    background: #111111;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    
}

.heading
{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding-top: 64px;
    height: 56px;
    padding-bottom: 48px;
    width: 420px;
    text-align: center;
    margin: 0 auto;
}

#border-blue
{
    border-bottom: solid 4px #3074ba;
}

#border-yellow
{
    border-bottom: solid 4px #EEB91F;
    color:#F1F1F1;
}


.sign-up-section
{
    max-width: 1340px;
    height: 868px;  
    margin: auto;
    padding-top: 80px;
    
    
}

@media (max-width:835px)
{
    .sign-up-section
    {
        margin: 0px;
    }

    .application-form-container
    {
        width: 100%;
    }

    .heading
    {
        display: none;
    }

}


@media (max-width:375px)
{
    .heading
    {
        display: block;
        width: 332px;
        height: 24px;
        font-size: 24px;
        line-height: 100%;
    }


    .application-form-container
    {
        height: 880px;
        margin-bottom: 0px;
    }

    .sign-up-section
    {
        height: 1200px;
    }

 
}