.navLinksContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  & > *:not(:last-child) {
    margin-right: 5vw;
  }
}

@media (max-width: 700px) {
  .navLinksContainer {
    display: none;
  }
}
