.navLinksContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  & > *:not(:last-child) {
    margin-right: 48px;
  }
}

@media (max-width: 500px) {
  // suggest to max-width 700px as hamburger menu is stuck
  .navLinksContainer {
    display: none;
  }
}
